@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: catamaran, sans-serif;
		@apply text-primaryText bg-bodyPrimary;
	}
	input:focus {
		@apply !shadow-primary outline-primary;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.17rem;
	}
	h4 {
		font-size: 1rem;
	}
	h5 {
		font-size: 0.83rem;
	}
	h6 {
		font-size: 0.67rem;
	}
}

.shadow {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.shadow-dark {
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.shadowBottom {
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
	appearance: textfield; /* Firefox */
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
.lightbox-container{
    background: rgba(0, 0, 0, 0.8);
}
